<div>
    <img src="./assets/images/profilePic.webp" alt="Heather Sorrells Profile Pic" id="profPic">
    <h4>Connect with me on <a class="contactLink" href="https://www.linkedin.com/in/heather-sorrells/">LinkedIn!</a></h4>
    <h4>Check out my <a class="contactLink" href="https://github.com/Hlsorrells">GitHub Repos!</a></h4>
    <h4>Or, Send me an <a class="contactLink" href="mailto:hlsorrells.dev@gmail.com">Email!</a></h4>
</div>