<div class="about">
    <section id='about'>
        <h3>A little about me...</h3>
        <p>Years ago, I built a small database for my home-based business 'from scratch' using MS Access to track the activities of my small tech recycling business. <strong>Oh, a fleeting love...</strong> Years later as I was completing my bachelor's degree, I was once again introduced to SQL as I took two database classes (one in Postgres and the other in MySQL). <strong>A spark began to burn!</strong> So, I pursued this renewed interest in learning more about SQL by enrolling in a full stack web development bootcamp to better understand how data is exchanged between client and server. <strong>A deeper love emerged!</strong></p>
    </section>
    <section>
        <h3>My Skills...</h3>
        <p>I am a full stack web developer building projects in React, Node, Express, MySQL, and a myriad of JavaScript libraries.</p>
        <p>My background in accounting and office management make me a great addition to any team as I can balance my time across several projects and understand the importance of deadlines and customer satisfaction.</p>
    </section>
</div>