<div class="contact">
    <section id="contact">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h3>My Contact Information</h3>
                    {{> contact/info-block}}
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h3>Send Me A Message</h3>
                    {{> email/form-block}}
                </div>
            </div>
        </div>
    </section>
</div>