body {
    background-image: url("../images/beautiful-blue-stars-fill.jpg");
    background-repeat: repeat;
    color: #ffffff;
    font-family: 'Architects Daughter', cursive;
}

section {
    color: #150479;
    margin: auto;
    margin-bottom: 40px;
    width: 90vw;
    max-width: 800px;
    padding: 10px;
    background-color: rgba(140, 140, 140, .60);
}

figure {
    margin: auto;
    margin-bottom: 10px;
    max-width: 600px;
}

figcaption {
    text-align: center;
}

h3 {
    font-weight: bolder;
}

h4 {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

a {
    color: #150479;
    font-size: large;
    font-weight: bold;
}

.email {
    min-height: 85vh;
}

.contactLink {
    font-size: larger;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    height: fit-content;
    padding: 0%;
}

.navbar {
    width: 100%;
}

.about, .projects, .contact {
    /* bootstrap navbar is 50px high */
    margin-top: 90px;
}

.title {
    text-align: center;
}

.tech, .description, .login {
    font-size: 14px;
    margin-bottom: .3rem;
}

#intro {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: normal;
    text-align: center;
}

#gif {
    max-width: 100%;
    height: auto;
}

#profPic {
    height: 250px;
    width: auto;
    display: block;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
}

[style*="--aspect-ratio"] > :first-child {
    width: 100%;
}
[style*="--aspect-ratio"] > img {  
    height: auto;
} 
@supports (--custom:property) {
    [style*="--aspect-ratio"] {
      position: relative;
    }
    [style*="--aspect-ratio"]::before {
      content: "";
      display: block;
      padding-bottom: calc(100% / (var(--aspect-ratio)));
    }  
    [style*="--aspect-ratio"] > :first-child {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
    }  
}
