body {
    background-image: url("../images/forest.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    font-family: 'Architects Daughter', cursive;
}

section {
    color: #262626;
    margin: auto;
    margin-bottom: 40px;
    max-width: 800px;
    padding: 10px;
    background-color: rgba(140, 140, 140, .60);
}

figure {
    margin: auto;
    margin-bottom: 10px;
    max-width: 600px;
}

figcaption {
    text-align: center;
}

a {
    color: #262626;
    font-size: small;
    font-weight: bold;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    height: fit-content;
    padding: 0%;
}

.navbar {
    width: 100%;
}

.about, .projects {
    /* bootstrap navbar is 50px high */
    margin-top: 90px;
}

.title {
    text-align: center;
}

.tech, .description, .login {
    font-size: 14px;
    margin-bottom: .3rem;
}

#intro {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: normal;
    text-align: center;
}

#gif {
    max-width: 100%;
    height: auto;
}