<div class="email">
    <form>
        <div class="form-group">
            <div class="form-row">
                <div class="col">
                    <label for="firstname">First Name</label>
                    <input type="text" class="form-control" id="firstname">
                </div>
                <div class="col">
                    <label for="lastname">Last Name</label>
                    <input type="text" class="form-control" id="lastname">
                </div>
            </div>
            <div class="form-row">
                <label for="emailAddressInput">Email address</label>
                <input type="email" class="form-control" id="emailAddressInput" aria-describedby="emailHelp">
            </div>
            <div class="form-row">
                <label for="subjectInput">Subject</label>
                <input type="subject" class="form-control" id="subjectInput">
            </div>
            <div class="form-row">
                <label for="messageInput">Message</label>
                <textarea class="form-control" id="messageInput" rows="9"></textarea>
            </div>
        </div>
        <button type="submit" class="btn btn-dark">Send</button>
    </form>
</div>